<form action="/cart" method="POST">
	<button class="btn" type="submit">Add Cart</button>
	<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
	<input type="hidden" name="productId" value="<%= product._id %>" />
</form>
